* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

img {
  width: 9rem;
  margin: 0.5rem;
}
